// VARIABLES
$backgroundColor: rgb(0, 0, 25);
$textColor: rgb(255, 255, 255);
$mainColor: rgb(0, 0, 100);
$accentColorLight: rgb(0, 150, 0);
$accentColor: rgb(0, 100, 0);
$highlightColor: rgb(100, 100, 0);

$font: "Fira Sans";
$monoFont: "FantasqueSansMono";
$textSize: 20px;

$borderWidth: 0.1em;
$borderRadius: 0.25em;

$navWidth: 350px;

// Fonts
@font-face {
    font-family: "FantasqueSansMono";
    src: url("/ttf/FantasqueSansMonoNerdFont.ttf");
}

// CSS
* {
    color: $textColor;

    font-family: $font;
    font-size: $textSize;

    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;

    scrollbar-color: $accentColor;
    scrollbar-width: thin;
}

html {
    overflow-y: hidden;
}
html,
body {
    background-color: $backgroundColor;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}
body {
    animation: fadein 1s;
}
#wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

// Nav
#nav {
    position: fixed;
    z-index: 10;
    width: $navWidth;
    height: 100%;
    top: 0;
    right: -($navWidth * 0.99);

    padding: $borderWidth * 2;

    border: $borderWidth * 2 solid $accentColor;
    border-radius: $borderRadius * 2 0 0 0;
    backdrop-filter: brightness(50%);
}
#nav:hover {
    backdrop-filter: brightness(150%) blur(5px);
    right: 0;
}

// General elements
h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.5em;
}
h3 {
    font-size: 1.17em;
}
h4 {
    font-size: 1em;
}
h5 {
    font-size: 0.83em;
}
h6 {
    font-size: 0.67em;
}

sub {
    vertical-align: sub;
    font-size: x-small;
}
sup {
    vertical-align: super;
    font-size: x-small;
}
a {
    color: $accentColorLight;
}
a:visited {
    color: $accentColor;
}
mark {
    background-color: $highlightColor;
    border-radius: $borderRadius;
}
code {
    font-family: $monoFont;

    background-color: $accentColor;
    border: $borderWidth solid $mainColor;
    border-radius: $borderRadius;
}
canvas {
    border-radius: $borderRadius;
}
button {
    background-color: $mainColor;
    border: $borderWidth solid $accentColor;
    border-radius: $borderRadius;
}

// Animations/effects
a,
button {
    display: inline-block;
}
a:hover,
button:hover {
    transform: scale(1.05);
}
a:active,
button:active {
    transform: scale(0.95);
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
