<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta content="width=device-width" name="viewport" />
        <!-- TODO - Add Open Graph Protocol tags -->

        {% if page.title %}
        <title>{{ page.title }} | String</title>
        {% endif %} {% if section.title %}
        <title>{{ section.title}} | String</title>
        {% endif %}
        <link href="/a/img/icon.gif" rel="icon" />
        <link href="/a/css/main.css" rel="stylesheet" type="text/css" />
        <link
            href="https://code.cdn.mozilla.net/fonts/fira.css"
            rel="stylesheet"
            type="text/css"
        />
    </head>

    <body>
        <div id="nav">
            {% set nav = get_page(path="nav.md") %} {{ nav.content | safe }}
        </div>

        <div id="wrapper">{% block content %}{% endblock %}</div>

        <script src="/a/js/main.js"></script>
    </body>
</html>
